<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<servlet-class>icrperusa.servlet.reports.Test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rptToolsGuide</servlet-name>
		<display-name>rptToolsGuide</display-name>
		<servlet-class>icrperusa.servlet.reports.ToolsGuide</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrdenPurchase</servlet-name>
		<display-name>OrdenPurchase</display-name>
		<servlet-class>icrperusa.servlet.reports.OrdenPurchase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<display-name>FileUploadServlet</display-name>
		<servlet-class>icrperusa.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GuideRetTools</servlet-name>
		<display-name>GuideRetTools</display-name>
		<servlet-class>icrperusa.servlet.reports.GuideRetTools</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigClean</servlet-name>
		<display-name>ConfigClean</display-name>
		<description>clear map config</description>
		<servlet-class>icrperusa.servlet.ConfigClean</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderGroup</servlet-name>
		<display-name>OrderGroup</display-name>
		<description></description>
		<servlet-class>icrperusa.servlet.reports.OrderGroup</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotFound</servlet-name>
		<display-name>NotFound</display-name>
		<description></description>
		<servlet-class>icrperusa.servlet.NotFound</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>Internal</servlet-name>
        <display-name>Internal</display-name>
        <description></description>
        <servlet-class>icrperusa.servlet.Internal</servlet-class>
    </servlet>
    <!-- @cvaldezch 2017-7-14 15:07 - add servlet guide remission materials -->
    <servlet>
        <servlet-name>GuideRemissionMaterials</servlet-name>
        <display-name>GuideRemissionMaterials</display-name>
        <description>show guide remission for materials</description>
        <servlet-class>icrperusa.servlet.reports.VWGuideRemissionMaterials</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>GuideReturnMaterials</servlet-name>
    	<display-name>GuideReturnMaterials</display-name>
    	<description></description>
    	<servlet-class>icrperusa.servlet.reports.GuideReturnMaterials</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NotadeIngreso</servlet-name>
    	<display-name>NotadeIngreso</display-name>
    	<description></description>
    	<servlet-class>icrperusa.servlet.reports.NotadeIngreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuideRemissionMaterials</servlet-name>
        <url-pattern>/guide/remission/materials</url-pattern>
    </servlet-mapping>
    <!-- endblock -->
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rptToolsGuide</servlet-name>
		<url-pattern>/guide/tools</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdenPurchase</servlet-name>
		<url-pattern>/purchase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuideRetTools</servlet-name>
		<url-pattern>/guide/toolsreturn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigClean</servlet-name>
		<url-pattern>/config/clean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderGroup</servlet-name>
		<url-pattern>/order/group</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotFound</servlet-name>
		<url-pattern>/404</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Internal</servlet-name>
		<url-pattern>/500</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuideReturnMaterials</servlet-name>
		<url-pattern>/guide/return/materials</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotadeIngreso</servlet-name>
		<url-pattern>/tools/note/ingress</url-pattern>
	</servlet-mapping>
</web-app>
